body {
	font-family: 'Raleway', sans-serif;
	/*background-image: url('images/Pittsburgh_Skyline_Day_BW.jpg');*/
	background-image: url('images/dark_skyline_sb.jpg');
	/*background-color: #b5bdc9;*/
	background-position: center top;
	background-size: cover;
	margin: 0;
}

h1 {
	text-align: center;
 	font-weight: 400;
 	font-size: 72px;
 	color: #FFF;
 	text-shadow: .5px 0.25px 0.5px #000000;
}

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
	position: relative;
}

.contact-btn a:active {
	top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.construction {
	margin: auto;
}