body {
	font-family: 'Raleway', sans-serif;
	background-color: #b5bdc9;
	margin: 0;
}
 
/*p {
  font-family: 'Arial', sans-serif;
}*/

embed {
  overflow: hidden;
}

h1 {
	text-align: center;
 	font-weight: 400;
 	font-size: 72px;
 	color: #FFF;
 	text-shadow: .5px 0.25px 0.5px #000000;
}

nav {
  font-size: 24px;
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;
}

.contact-btn a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
	position: relative;
}

.contact-btn a:active {
	top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

.construction {
	margin: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 20px;
}


a {
  text-decoration:none;
}

a:hover {
  color: #FF5733;
}

ul.projects {
  list-style: none;
  font-family: 'Courier';
}